/* Estilos del Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/images/bkg.png") no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Spinner animado */
.spinner {
    width: 60px;
    height: 60px;
    position: relative;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #F9F900; /* Color del círculo animado */
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    animation-delay: -1s;
}

/* Animación de los círculos */
@keyframes bounce {
    0%, 100% {
        transform: scale(0);
    } 
    50% {
        transform: scale(1);
    }
}

/* Cuando la página termine de cargar, oculta el preloader */
body.loaded #preloader {
    display: none;
}
/* Estilos para la ventana de cookies */
.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
    text-align: center;
    z-index: 1000;
    display: none; /* Oculto por defecto */
}

.cookie-consent p {
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.cookie-btn {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.accept {
    background-color: #28a745; /* Botón verde */
    color: white;
}

.reject {
    background-color: #dc3545; /* Botón rojo */
    color: white;
}

/* Animación para la ventana emergente */
.cookie-consent.fade-in {
    display: block;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



/* Header - Barra de navegación */
.header {
    justify-content: space-between;
    padding: 1.8rem 3rem;
    z-index: 2;
}

nav.nav_menu {
    display: flex;
}
#image_home {
    margin-top: 10rem;
    justify-content: right;
    height: 55rem;
    width: 40rem; 
    transition:  box-shadow .1s;
    background: url("../images/img_home-1.png") no-repeat center;
    background-size: contain;
    border-radius: 5rem;
}
#image_home:hover {
    box-shadow: 0px 0px 100px var(--blue);

}

nav.nav_menu a {
    font-size: 1.8rem;
    padding: .5rem;
    font-family: 'Pasajero';
    text-decoration: none;
    letter-spacing: .1rem;
    right: 0;
    margin-right: 2.5rem;
}

nav.nav_menu a:hover,
nav.nav_menu a.active {
    color: #ffffff;
    padding: .5rem;
    border-bottom: 1px solid var(--beaver);
    transition: all .5s;
}

nav.nav_menu.not-active a {
    display: flex;
}

nav.nav_menu.not-active .flags {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    align-items: center;
}

nav.nav_menu.not-active .flags__item {
    filter: contrast(65%);
    cursor: pointer;
}

nav.nav_menu.not-active .flags__item img {
    width: 3rem;
    display: block;
}

div.btn {
    display: none;
}
.whatsapp-button-nav {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #F9F900;
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    animation: ripple 5s infinite ease-out;
}

.whatsapp-button-nav:hover {
    background-color: var(--blue); /* Cambia el color al hacer hover si deseas */
}


/* Home *//* Estilo para el botón flotante de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 90px;
    right: 35px;
    
    z-index: 1000;
  }
  
.whatsapp-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    animation: ripple 2s infinite ease-out; /* Añade la animación de agua */
}

/* Efecto hover para agrandar el icono */
.whatsapp-icon:hover {
    transform: scale(1.1);
}
  
  /* Efecto de agua */
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 #00daf6;
    }
    50% {
      box-shadow: 0 0 0 20px rgba(37, 211, 102, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
  }
  
.plains h1 {
    padding-top: 8rem;
    font-size: 3rem;
}
.cards-plains-container{
    flex-direction: row;
    justify-content: center;
    
}
  /* Estilo del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--orange);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

input[type="text"] {
width: 100%;
padding: 10px;
margin-top: 15px;
border: 1px solid #ccc;
border-radius: 5px;
}

button {
margin-top: 20px;
padding: 10px 20px;
background-color: var(--blue);
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

button:hover {
background-color: #1EBE5D;
}
  

.home {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 4rem;
    height: 100vh;
}
.container_text-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100vh; /* Ajuste de altura para centrar la imagen */
  }
  
  .logo_principal {

    margin-top: 10rem;
    width: 70rem; /* Ajusta el tamaño según sea necesario */
    height: auto;
    opacity: 0.9;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    animation: float 2s ease-in-out infinite;
    padding-left: 2rem;
    padding-top: 7rem;
  }
  
  .logo_principal:hover {
    transform: scale(1.1); /* Ampliar ligeramente cuando se hace hover */
    opacity: 1; /* Mayor visibilidad al pasar el mouse */
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.4));
  }
  
  /* Animación flotante suave */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  

.container_image-home {
    width: 55%;
}

.image_home {
    object-fit: contain;
}

.home_info {
    width: 60%;
    padding-left: 3rem;
}

.container_text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: .4rem;
    text-align: start;
    margin-top: 6rem;

}

.home_text-1 {
    font-size: 3.5rem;
    margin-left: .4rem;
    font-weight: bold;
}

.home_text-2 {
    font-size: 7rem;
    font-weight: bold;
    color: var(--white);
}

.home_text-3 {
    font-size: 1.8rem;
    width: 70rem;
    letter-spacing: .2rem;
    padding-left: 4rem;
}

.container_parrafo-info {
    display: inline-block;
    text-align: start;
}

.container_parrafo-info p {
    font-family: 'Pasajero';
    color: var(--white);
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 2.7rem;
    padding-left: 4rem;
}

.container_button {
    display: flex;
    padding-left: 4rem;
    
}

.cv_button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #F9F900;
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    animation: ripple 5s infinite ease-out;
}

.cv_button:hover {
    background: var(--blue);    box-shadow: 0px 2px 10px #141414;
    transition: 1s transform;
}

.contact_button {
    display: inline-block;
    background-color: var(--beaver);
    border-radius: 3rem;
    padding: .7rem 4rem .6rem 4rem;
    color: var(--jet);
    font-family: 'Pasajero';
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem 0 2rem 1rem;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.contact_button:hover {
    background-color: #776254;
    box-shadow: 0px 2px 10px #141414;
    transition: 1s transform;
}

.container-links { 
    display: flex;
    padding-left: 4rem;
}

.links a i {
    font-size: 4rem; /* Ajusta el tamaño del icono */
    color: #F9F900; /* Color amarillo para los iconos */
    margin-top: 2rem;;
    margin-right: 1rem;
}

.links a:hover i {
    color: #00daf6; /* Opcional: Cambia el color al pasar el mouse */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.section-title {
    text-align: center;
    font-size: 6rem;
    color: var(--white);
    font-family: 'Pasajero';
    margin-bottom: 3rem;
}
.logo_header{
    width: 6rem;
}
.cards-pains-container{
    flex-direction: row;
    justify-content: center;
}
/* Sobre nosotros */

.sobreMi {
    padding-bottom: 4rem;
}

.sobreMi h1 {
    margin-top: 2rem;
    font-size: 3rem;
}

.container_content-sobreMi {
    flex-direction: row-reverse;
}

.container_texto-sobreMi {
    width: 70%;
    padding: 0 5% 0 3rem;
}

.title_sobreMi {
    text-align: start;
    font-size: 2.8rem;
    letter-spacing: .3rem;
}

.texto_sobreMi {
    text-align: start;
    font-size: 2rem;
    letter-spacing: .2rem;
    line-height: 2.8rem;
}


/* Servicios */
.services h1 {
    padding-top: 3rem;
    font-size: 3rem;
}

.puntos1-services {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 20rem 0 0  1%;
    background-attachment: fixed;
}

.puntos2-services {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: -3rem 0 0 93%;
}

.cards_container--services {
    flex-direction: row;
    justify-content: center;
}

.cards--services {
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.5rem;
    z-index: 1;
   
    border-radius: 1.5rem;
}

.text-portafolio {
    margin-top: -3rem;
}

.container_btn--services button {
    width: auto;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.btn-contact {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #F9F900; /* Color amarillo */
    color: #000; /* Color del texto */
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    animation: ripple 5s infinite ease-out; /* Añade la animación de agua */
}

.btn-contact:hover {
    background-color: var(--blue); /* Cambia el color al pasar el mouse */
}

/* Proyectos */

.projects h1 {
    padding-top: 8rem;
    font-size: 3rem;
}

.puntos1-projects {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 20rem 0 0  1%;
    background-attachment: fixed;
}

.puntos2-projects {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: -3rem 0 0 93%;
}

.container_textCard--services{
    font-size: 2rem;
}

.cards_container--projects {
    flex-direction: row;
    justify-content: center;
}

.cards--projects {
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.5rem;
    z-index: 1;
}

.text-portafolio {
    margin-top: -3rem;
}

.container_btn--projects button {
    width: auto;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

/* Contacto */

.contact h1 {
    padding: 8rem 0 2.5rem 0;
    font-size: 3rem;
}

.container_box--contact {
    margin-top: 2rem;
    display: flex;
    justify-content:center;
}

.container_img--contact {
    display: inline-block;
    width: 60rem;
    display: flex;
    justify-content: center;
}

.container_img--contact img {
    width: 50rem;
    object-fit: contain;
}

.container--contact {
    width: 50%;
    margin: 0;
    padding: 4rem 3rem;
}

.btn_form--contact button{
    color: var(--black);
}

/* Sección de Tratamiento de Datos */
#politica-de-privacidad {
    padding: 8rem 3rem; /* Espaciado interno */
    background-color: var(--black); /* Fondo oscuro */
    color: var(--white); /* Texto blanco */
    line-height: 2.5rem; /* Espaciado entre líneas */
    letter-spacing: 0.1rem;
    font-family: 'Montserrat', sans-serif; /* Fuente utilizada */
}

#politica-de-privacidad h2 {
    font-size: 4rem; /* Tamaño de la fuente del título principal */
    margin-bottom: 2rem;
    text-align: center;
    color: var(--white);
}

#politica-de-privacidad h3 {
    font-size: 2.5rem; /* Tamaño de la fuente de subtítulos */
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: var(--blue); /* Color de los subtítulos */
}

#politica-de-privacidad ul {
    margin-left: 2rem;
    list-style-type: disc; /* Lista con viñetas */
}

#politica-de-privacidad li {
    font-size: 1.8rem; /* Tamaño de la fuente de los elementos de la lista */
    margin-bottom: 1rem;
}

#politica-de-privacidad p {
    font-size: 1.8rem;
    color: var(--white); /* Color del texto principal */
    text-align: justify;
    margin-bottom: 1.5rem;
}

/* Botones de la sección de tratamiento de datos */
.cookie-btn {
    font-size: 1.6rem; /* Tamaño de los botones */
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--white);
}

.cookie-btn.accept {
    background-color: #28a745; /* Botón aceptar */
}

.cookie-btn.reject {
    background-color: #dc3545; /* Botón rechazar */
}

/* Diseño de las tablas de la sección, en caso de que existan */
#politica-de-privacidad table {
    width: 100%;
    margin: 2rem 0;
    border-collapse: collapse;
}

#politica-de-privacidad th, #politica-de-privacidad td {
    border: 1px solid #ccc; /* Bordes ligeros */
    padding: 1rem;
    text-align: left;
    font-size: 1.6rem; /* Tamaño de la fuente en tablas */
}

#politica-de-privacidad th {
    background-color: var(--blue); /* Fondo para el encabezado de la tabla */
    color: var(--white);
    font-weight: bold;
}

#politica-de-privacidad td {
    background-color: var(--beaver); /* Fondo de las celdas */
    color: var(--black); /* Color del texto */
}

/* Responsive Design */
@media (max-width: 768px) {
    #politica-de-privacidad {
        padding: 5rem 2rem;
    }

    #politica-de-privacidad h2 {
        font-size: 3rem; /* Ajuste para pantallas más pequeñas */
    }

    #politica-de-privacidad h3 {
        font-size: 2rem;
    }

    #politica-de-privacidad p, #politica-de-privacidad li {
        font-size: 1.6rem;
    }

    #politica-de-privacidad table, #politica-de-privacidad th, #politica-de-privacidad td {
        font-size: 1.4rem;
    }
}
