* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container--loader {
    background-image: url("../images/bkg.webp");
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: loader 1.5s infinite ease-in-out;
}

.loader {
    color: var(--beaver);
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5rem;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5rem;
}

@keyframes loader {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5rem 0 -1.3rem;    
    }
    40% {
        box-shadow: 0 2.5rem 0 0;  
    }
}
/* Animación personalizada para desplazamiento y opacidad desde la derecha */
[data-aos="custom-fade-right"] {
    opacity: 0;
    transform: translateX(50px);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

[data-aos="custom-fade-right"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}

/* Animación personalizada para desplazamiento y opacidad desde la izquierda */
[data-aos="custom-fade-left"] {
    opacity: 0;
    transform: translateX(-50px);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

[data-aos="custom-fade-left"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}

/* Animación personalizada para zoom y rotación */
[data-aos="custom-zoom-rotate"] {
    opacity: 0;
    transform: scale(0.5) rotate(-10deg);
    transition: transform 1s ease, opacity 1s ease;
}

[data-aos="custom-zoom-rotate"].aos-animate {
    opacity: 1;
    transform: scale(1) rotate(0deg);
}
